body{
    background: rgb(187, 186, 186);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgb(0, 0, 0);
    text-align: center;
}
nav ul{
    list-style: none;
}
nav li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    padding: 20px;
    color: #fff;
    display: block;
}
nav ul li:hover{
    background: rgb(8, 68, 136);
}
h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.description{
    margin: 0 40px;
}
h2{
    font-size: 35px;
    font-weight: bold;
}
p, li{
    text-align: justify;
    font-size: 30px;
}
.div_img{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}